.bookmarked-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recipe-card img {
    border-radius: 5px;
}
