.halaman{
  background-color: bisque;
  width: 100%;
  text-align: justify;
  height: 100%;
}
.review-details{
  padding-left: 20px;
}

.recipe-notes{
  text-align: justify;
  width: 75%;
  display:flex;
  flex-direction: column;
}
a{
  font-style: oblique;
  text-decoration: none;
}
